---
Checks: '*,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-llvmlibc-*,-fuchsia-overloaded-operator,-google-explicit-constructor,-hicpp-special-member-functions,-cppcoreguidelines-avoid-magic-numbers,-hicpp-explicit-conversions,-cppcoreguidelines-special-member-functions,-google-readability-todo,-fuchsia-default-arguments-declarations,-modernize-use-using'
FormatStyle: none
